/* custom fonts */
@font-face {
  font-family: Neo Latina;
  src: url("./assets/fonts/neo-latina-demo-FFP.ttf");
}
@font-face {
  font-family: Dreamscape;
  src: url("./assets/fonts/dreamscape.ttf");
}
@font-face {
  font-family: Libre Baskerville;
  src: url("./assets/fonts/libre-baskerville.regular.ttf");
}
/************ default css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: black !important;
  color: #fff !important;
  font-family: 'Libre Baskerville', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}
/************ navbar css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 900;
  transition:  0.32 ease-in-out;
  background-color: black;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: black;
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-family: 'Dreamscape';
  font-weight: 400;
  color: #7271e8 !important;
  letter-spacing: 0.8px;
  text-align: end;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.logoText {
 font-family: 'Neo Latina';
 color: #7271e8;
}
.astroHuntingLogo {
  width: 100px;
}
/************ banner css ************/
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/images/stars.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
.stars, .twinkling, .clouds {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}
.title {
  display:block;
  position: relative;
  z-index: 3;
}
.background {
  display:block;
  position: relative;
  z-index: 3;
}
.stars {
  background:#000 url("./assets/images/stars.png") repeat top center;
  z-index:0;
}
.twinkling{
  background:transparent url("./assets/images/twinkling.png") repeat top center;
  z-index:1;
  animation:move-twink-back 200s linear infinite;
}
.clouds{
    background:transparent url("./assets/images/clouds.png") repeat top center;
    z-index:2;
    opacity: .4;
    animation:move-clouds-back 200s linear infinite;
}
.postCard {
  width: 100%;
  margin: 20px
  }
  
  .postCard .card-body {
    background-color: #121212;
  }
  
  .postCard .card-text {
    font-size: 12px;
  }

  .card-img, .card-img-top {
    height: 150px;
  }
  
  .browse {
    margin-top: 148px;
    padding: 20px 0;
  }
  
  .createPost {
    margin-top: 148px !important;
    padding: 20px;
    max-width: 800px;
    margin: auto;
  }
  
  .mr-2 {
    margin-right: 10px
  }
  
  .modal-content {
    background-color: #212121 !important;
  }
  
  @media screen and (max-width: 1100px) {
    .postCard {
      margin: 0;
      margin-bottom: 10px;
      margin-top: 10px
    }
  }